.square {
    border: 1px solid black;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
}

.color {
    border: 1px solid black;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    background-color: rgb(218, 18, 18);
}

.btn {
    border-radius: 8px;
    width: 120px;
    height: 50px;
    margin-bottom: 24px;
    font-size: 24px;
}

.grid {
    display: flex;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}